.menu {
  margin: 20px;
  padding: 30px;
  background-color: #363640;
  /*display: inline-block;
  cursor: pointer;*/
  border-color: white;
  border: solid;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
}

.jumbotron {
  margin: 15px;
}

.dx-field-item-label-location-top {
  padding-left: 0;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .container {
    padding-top: 100px;
  }
}

body {
  min-height: 100vh;
}

nav {
  margin-bottom: 5%;
}

.navbar-button {
  margin-right: 10px;
}

.logo {
  width: 100px;
  height: 100px;
}

.caption {
  font-size: 16px;
  padding-bottom: 3px;
  padding-left: 10px;
  justify-content: left;
}

.logo-div {
  font-size: 30px;
}

#user-drop-down-button {
  min-width: 180px;
}

@media (max-width: 320px) {
  #user-drop-down-button {
    min-width: 100px
  }

  #user-drop-down-button .dx-button-content {
    font-size: 3vw;
  }

  #user-drop-down-button .dx-icon {
    font-size: 5vw;
  }

  .dx-item-content.dx-list-item-content {
    font-size: 3vw;
    padding: 4px;
  }

  .dx-item-content.dx-list-item-content .dx-list-item-icon-container {
    width: 30px;
  }

  .dx-item-content.dx-list-item-content .dx-icon {
    font-size: 5vw;
  }
}

@media (max-width: 600px) {
  .logo-div {
    font-size: 15px;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .navbar-button {
    margin-right: 0px;
    align-items: flex-end;
  }

  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }

  .dx-button.dx-button-storage {
    font-size: 2.5vw;
    width: auto;
    height: auto;
  }

  .dx-button.dx-button-add-item {
    font-size: 2.5vw;
    width: auto;
    height: auto;
  }
}

@media (min-width: 576px) {
  #contact {
    font-size: 20px;
    padding-left: 0px !important;
  }
}

/* recipes */
#container {
  padding-top: 10px;
}

#container ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

#container ul li {
  display: inline-block;
  margin: 8px;
  width: 220px;
  border: 2px solid lightgray;
  border-radius: 16px;
}

#container ul li img {
  width: 196px;
  margin-top: 12px;
  border-radius: 16px;
}

#container ul li p {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 1em
}

.recipe-button-2 {
  font-size: 12px;
  width: 100px;
  margin-bottom: 12px;
}

#ingredientSelectionBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-info {
  margin: 10px;
}

.dx-popup-content p {
  margin-bottom: 10px;
  margin-top: 0;
}

.dx-field-value {
  float: left !important;
  width: 100% !important;
  margin-bottom: 20px;
}

.dx-field-label {
  font-size: 20px;
  min-width: 200px;
}

#ingredientSelection {
  width: 80vw;
  max-width: 1000px;
  margin-bottom: 2px;
}

.randomMeals {
  padding-top: 2vh;
}

.reduce-left-gap {
  padding-left: 2px !important;
}

.reduce-right-gap {
  padding-right: 2px !important;
}

.red-text {
  color: rgb(243, 70, 70) !important;
}

.orange-text {
  color: rgb(255, 185, 55) !important;
}

.green-text {
  color: rgb(70, 215, 70) !important;
}

#randomCards {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex: 0 0 26vw;
  align-items: center;
}

#POPUP-LOGIN-BUTTON,
#POPUP-CREATEACCOUNT-BUTTON {
  margin-top: 10px;
}

#storage-mgmt-button.dx-button-has-text .dx-button-content {
  white-space: normal;
}

#add-item-button.dx-button-has-text .dx-button-content {
  white-space: normal;
}

#LOGIN-BUTTON {
  font-size: 3vh;
}

@media (max-width: 580px) {
  .dx-button.dx-button-storage {
    font-size: 2.5vw;
    width: auto;
    height: auto;
  }

  .dx-button.dx-button-add-item {
    font-size: 2.5vw;
    width: auto;
    height: auto;
  }
}

@media (max-width: 850px) {
  ul li {
    width: 250px;
  }

  ul {
    padding-left: 0px !important;
  }

  #randomCards {
    flex-direction: column;
  }
}

@media (max-width: 850px) {
  .contacts a {
    display: block;
    margin-bottom: 1vh;
    margin-left: 0 !important;
  }
}

@media (max-width: 540px) {
  #POPUP-LOGIN-BUTTON,
  #POPUP-CREATEACCOUNT-BUTTON {
    font-size: 8px;
  }
  #LOGIN-BUTTON {
    font-size: 3.4vw;
  }
}
