.menu {
  margin: 20px;
  padding: 30px;
  background-color: darkblue;
  /*display: inline-block;
  cursor: pointer;*/

  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 10%;
  font-size: 24px;


}

.dx-field-item-label-location-top {
  padding-left: 0;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .container {
    padding-top: 100px;
  }
}

body {
  min-height: 100vh;
}

nav {
  margin-bottom: 5%;
}

.navbar-button {
  margin-right: 10px;
}

.logo {
  width: 100px;
  height: 100px;
}

.caption {
  font-size: 16px;
  padding-bottom: 3px;
  padding-left: 10px;
  justify-content: left;
}

.logo-div {
  font-size: 30px;
}

@media (max-width: 575.98px) {
  .logo-div {
    font-size: 15px;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .navbar-button {
    margin-right: 0px;
    align-items: flex-end;
  }
}

@media (min-width: 575.98px) {
  #contact {
    font-size: 20px;
    padding-left: 0px !important;
  }
}

/* recipes */
#container {
  padding: 10px;
}

#container ul {
  list-style-type: none;
  text-align: center;
}

#container ul li {
  display: inline-block;
  width: 160px;
  margin: 10px;
}

#container ul li img {
  width: 100px;
}

.button-info {
  margin: 10px;
}

.dx-popup-content p {
  margin-bottom: 10px;
  margin-top: 0;
}

.dx-field-value {
  float: left !important;
  width: 100% !important;
  margin-bottom: 20px;
}

.dx-field-label {
  font-size: 20px;
}

#ingredientSelection {
  width: 10%;
}