body {
    background-color: transparent;
}

#map {
    height: 250pt;
}

#save_user {
    margin-top: 65pt;
    width: 120pt;
    height: 25pt;
}

#left_box {
    margin-bottom: 25pt;

}

.picture_frame {
    width: 120pt;
    height: 120pt;
    background-color: gray;
    display: block;
}

.color_me {

    background-color: blue;
    border: 2px yellow solid;

}

.top>* {

    margin-left: 20pt;
}

.divider {

    margin-bottom: 20pt;
}

.fl {
    float: left;

}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {

    margin-top: -1px;
    /* Prevent double borders */

    padding: 12px;
    text-decoration: none;
    font-size: 18px;


    display: block;
    position: relative;
    border-radius: 30px 30px 30px 5px;

}



.choose {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    padding: 12px 16px;
    transform: translate(0%, -50%);
}

.close:hover {
    background: #bbb;
}


#give_aways .col_red {
    border: 1px solid rgb(163, 14, 3);
    background-color: rgb(219, 88, 12);
    color: rgb(129, 129, 129);
}

#give_aways .col_red:hover {
    background-color: rgb(252, 216, 187);
}

#give_aways .col_green {
    border: 1px solid rgb(34, 70, 45);
    background-color: rgb(72, 189, 107);
    color: black;
}

#give_aways .col_green:hover {
    background-color: rgb(141, 224, 166);
}

#give_aways .col_yellow {
    border: 1px solid rgb(207, 177, 43);
    background-color: #ebcc43;
    color: rgb(48, 48, 48);
}

#give_aways .col_yellow:hover {
    background-color: rgb(248, 247, 194);
}